/*MIXINS*/

@mixin thumbnail {
  height: 48px;
  width: 48px;
  border-radius: 75%;
}

@mixin bluebutton {
  background-color: #1a97fc;
  // padding: 15px;
  color: white;
  border-radius: 4px;
  border: 1px solid #1a97fc;
  height: 40px ;
}